<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= box.name() %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div class="container">
        <h1 class="header"><%= box.name() %></h1>
        <p>exported at <%= box.exportedAt() %></p>
        <ul>
          <% box.pages().forEach((page) => { %>
            <li>
              <a href="/<%= page %>"><%= page %></a>
            </li>
          <% }); %>
        </ul>
    </div>
</body>
</html>